<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Merlin HTML/CSS template">
  <meta name="author" content="Hasan Alibegic">
  <link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
  <title>Lakshya Crowd Funding Register</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600">
  <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/animate.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="{{STATIC_URL}}js/html5shiv.js"></script>
    <script src="{{STATIC_URL}}js/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
      <div id="navbar-top">
        <nav class="navbar navbar-default navbar-static" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand nav-external" href="#home">Lakshya Crowdfunding</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="/index">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" method="POST" action="{{BASE_URL}}/auth/create_user">
            {% csrf_token %}
            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
              <h2>Please Sign Up <small>It's free and always will be.</small></h2>
              <hr class="colorgraph">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="3">
              </div>
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
                  </div>
                </div>
              </div>

             <hr class="colorgraph">
             
             <div class="row">
              <div class="col-xs-6 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
              <div class="col-xs-6 col-md-6"><a href="{{BASE_URL}}/auth/login" class="btn btn-success btn-block btn-lg">Already have an ID ? Sign in</a></div>
              <div class="col-xs-12 col-md-12"><input type="submit" value="Sign Up with Facebook" class="btn btn-primary btn-block btn-lg" tabindex="7" id="facebook-button"></div>
              <div class="col-xs-12 col-md-12"><input type="submit" value="Sign Up with Google+" class="btn btn-primary btn-block btn-lg" tabindex="7" id="googleplus-button"></div>
              <div class="col-xs-12 col-md-12"><input type="submit" value="Sign Up with Twitter" class="btn btn-primary btn-block btn-lg" tabindex="7" id="twitter-button"></div>
            </div>
          </form>
        </div>
      </div>

    </div>


    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/isotope.pkgd.min.js"></script>
    <script src="{{STATIC_URL}}js/imagesloaded.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.scrollTo.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.nav.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.appear.min.js"></script>
    <script src="{{STATIC_URL}}js/twitterFetcher.min.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>

  </body>
  </html>